# Eclipse
.classpath
.project

# Intelij
*.iml

# Binaries
classes/

# Doxygen
doxygen/html
doxygen/latex

# Other
testing_dir/
backup/
todo
notes
to_improve
/data
/target
/src/devel
/src/main/java/org/hwer/evaluators/InstantDatabaseEvaluator.java
/src/main/java/org/hwer/utilities/data_managers/
