# Eclipse
.classpath
.project

# Binaries
/bin/

# Doxygen
doxygen/html
doxygen/latex

# Other
src/main/evaluators/InstantDatabaseEvaluator.java
src/main/executables/
testing_dir/
backup/
todo
notes
to_improve
*.swp
*.jar
data
dump
